.k0m0 .shoda, .k0m0 .zbytek {
    background-color: #E8E8DD
}
.k0m1 .shoda, .k0m1 .zbytek {
    background-color: #E8E8DD
}
.k0m2 .shoda, .k0m2 .zbytek {
    background-color: #E8E8DD
}
.k0m3 .shoda, .k0m3 .zbytek {
    background-color: #E8E8DD
}
.k0m4 .shoda, .k0m4 .zbytek {
    background-color: #E8E8DD
}
.k0m5 .shoda, .k0m5 .zbytek {
    background-color: #E8E8DD
}
.k0m6 .shoda, .k0m6 .zbytek {
    background-color: #E8E8DD
}
.k0m7 .shoda, .k0m7 .zbytek {
    background-color: #E8E8DD
}
.k1m0 .shoda, .k1m0 .zbytek {
    background-color: #CCCCFF
}
.k1m1 .shoda, .k1m1 .zbytek {
    background-color: #CCCCFF
}
.k1m2 .shoda, .k1m2 .zbytek {
    background-color: #CCCCFF
}
.k1m3 .shoda, .k1m3 .zbytek {
    background-color: #CCCCFF
}
.k1m4 .shoda, .k1m4 .zbytek {
    background-color: #CCCCFF
}
.k1m5 .shoda, .k1m5 .zbytek {
    background-color: #CCCCFF
}
.k1m6 .shoda, .k1m6 .zbytek {
    background-color: #CCCCFF
}
.k1m7 .shoda, .k1m7 .zbytek {
    background-color: #CCCCFF
}
.k2m0 .shoda, .k2m0 .zbytek {
    background-color: #BBFFBB
}
.k2m1 .shoda, .k2m1 .zbytek {
    background-color: #BBFFBB
}
.k2m2 .shoda, .k2m2 .zbytek {
    background-color: #BBFFBB
}
.k2m3 .shoda, .k2m3 .zbytek {
    background-color: #BBFFBB
}
.k2m4 .shoda, .k2m4 .zbytek {
    background-color: #BBFFBB
}
.k2m5 .shoda, .k2m5 .zbytek {
    background-color: #BBFFBB
}
.k2m6 .shoda, .k2m6 .zbytek {
    background-color: #BBFFBB
}
.k2m7 .shoda, .k2m7 .zbytek {
    background-color: #BBFFBB
}
.k3m0 .shoda, .k3m0 .zbytek {
    background-color: #FFBBFF
}
.k3m1 .shoda, .k3m1 .zbytek {
    background-color: #FFBBFF
}
.k3m2 .shoda, .k3m2 .zbytek {
    background-color: #FFBBFF
}
.k3m3 .shoda, .k3m3 .zbytek {
    background-color: #FFBBFF
}
.k3m4 .shoda, .k3m4 .zbytek {
    background-color: #FFBBFF
}
.k3m5 .shoda, .k3m5 .zbytek {
    background-color: #FFBBFF
}
.k3m6 .shoda, .k3m6 .zbytek {
    background-color: #FFBBFF
}
.k3m7 .shoda, .k3m7 .zbytek {
    background-color: #FFBBFF
}
.k4m0 .shoda, .k4m0 .zbytek {
    background-color: #FFDD88
}
.k4m1 .shoda, .k4m1 .zbytek {
    background-color: #FFDD88
}
.k4m2 .shoda, .k4m2 .zbytek {
    background-color: #FFDD88
}
.k4m3 .shoda, .k4m3 .zbytek {
    background-color: #FFDD88
}
.k4m4 .shoda, .k4m4 .zbytek {
    background-color: #FFDD88
}
.k4m5 .shoda, .k4m5 .zbytek {
    background-color: #FFDD88
}
.k4m6 .shoda, .k4m6 .zbytek {
    background-color: #FFDD88
}
.k4m7 .shoda, .k4m7 .zbytek {
    background-color: #FFDD88
}
.k5m0 .shoda, .k5m0 .zbytek {
    background-color: #FFAA99
}
.k5m1 .shoda, .k5m1 .zbytek {
    background-color: #FFAA99
}
.k5m2 .shoda, .k5m2 .zbytek {
    background-color: #FFAA99
}
.k5m3 .shoda, .k5m3 .zbytek {
    background-color: #FFAA99
}
.k5m4 .shoda, .k5m4 .zbytek {
    background-color: #FFAA99
}
.k5m5 .shoda, .k5m5 .zbytek {
    background-color: #FFAA99
}
.k5m6 .shoda, .k5m6 .zbytek {
    background-color: #FFAA99
}
.k5m7 .shoda, .k5m7 .zbytek {
    background-color: #FFAA99
}
.k6m0 .shoda, .k6m0 .zbytek {
    background-color: #BBDDDD
}
.k6m1 .shoda, .k6m1 .zbytek {
    background-color: #BBDDDD
}
.k6m2 .shoda, .k6m2 .zbytek {
    background-color: #BBDDDD
}
.k6m3 .shoda, .k6m3 .zbytek {
    background-color: #BBDDDD
}
.k6m4 .shoda, .k6m4 .zbytek {
    background-color: #BBDDDD
}
.k6m5 .shoda, .k6m5 .zbytek {
    background-color: #BBDDDD
}
.k6m6 .shoda, .k6m6 .zbytek {
    background-color: #BBDDDD
}
.k6m7 .shoda, .k6m7 .zbytek {
    background-color: #BBDDDD
}
.k7m0 .shoda, .k7m0 .zbytek {
    background-color: #EECC99
}
.k7m1 .shoda, .k7m1 .zbytek {
    background-color: #EECC99
}
.k7m2 .shoda, .k7m2 .zbytek {
    background-color: #EECC99
}
.k7m3 .shoda, .k7m3 .zbytek {
    background-color: #EECC99
}
.k7m4 .shoda, .k7m4 .zbytek {
    background-color: #EECC99
}
.k7m5 .shoda, .k7m5 .zbytek {
    background-color: #EECC99
}
.k7m6 .shoda, .k7m6 .zbytek {
    background-color: #EECC99
}
.k7m7 .shoda, .k7m7 .zbytek {
    background-color: #EECC99
}
.k8m0 .shoda, .k8m0 .zbytek {
    background-color: #DDDD99
}
.k8m1 .shoda, .k8m1 .zbytek {
    background-color: #DDDD99
}
.k8m2 .shoda, .k8m2 .zbytek {
    background-color: #DDDD99
}
.k8m3 .shoda, .k8m3 .zbytek {
    background-color: #DDDD99
}
.k8m4 .shoda, .k8m4 .zbytek {
    background-color: #DDDD99
}
.k8m5 .shoda, .k8m5 .zbytek {
    background-color: #DDDD99
}
.k8m6 .shoda, .k8m6 .zbytek {
    background-color: #DDDD99
}
.k8m7 .shoda, .k8m7 .zbytek {
    background-color: #DDDD99
}
.k9m0 .shoda, .k9m0 .zbytek {
    background-color: #FFFF66
}
.k9m1 .shoda, .k9m1 .zbytek {
    background-color: #FFFF66
}
.k9m2 .shoda, .k9m2 .zbytek {
    background-color: #FFFF66
}
.k9m3 .shoda, .k9m3 .zbytek {
    background-color: #FFFF66
}
.k9m4 .shoda, .k9m4 .zbytek {
    background-color: #FFFF66
}
.k9m5 .shoda, .k9m5 .zbytek {
    background-color: #FFFF66
}
.k9m6 .shoda, .k9m6 .zbytek {
    background-color: #FFFF66
}
.k9m7 .shoda, .k9m7 .zbytek {
    background-color: #FFFF66
}